<%# if(typeof site.customConfig.pet_card === 'undefined'&& site.customConfig.pet_card) { %>
    <div class="pet_card p-card">
        <h1>
            <%= themeConfig.siteName %>
        </h1>
        <h2>
            <%= themeConfig.siteDescription %>
        </h2>
    </div>
}